.searchForm {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.searchInput {
	background: #d7e1f3;
	outline: none;
	height: 35px;
	border-radius: 10px;
	padding: 0 0 0 10px;
	color: #396294;
	border: none;
	box-shadow: 0 0 0 3px #1b71a2;
	width: 100%;

	&::placeholder {
		color: #396294;
	}
}

.searchButton {
	width: 40px;
	height: 35px;
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 8px;
	background: #ecb56f;
	color: #0e2a47;
	font-size: 20px;
	transition: all 0.2s ease;

	&:hover {
		background: #c4965b;
	}

	&:active {
		background: #a8814e;
	}
}

